html, body {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: #FFFFFF;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100vh;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

.header {
    display: flex;
    align-items: center; 
    margin-bottom: 20px; 
}

.logo-img {
    width: 50px; 
    height: auto; 
    margin-right: 10px; 
}

.logo {
    font-size: 34px;
    color: #000;
    margin: 0;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    padding: 20px;
    margin-right: 20px;
}

.main-title {
    font-size: 50px;
    color: #333;
    margin: 0;
    margin-bottom: 10px;
}

.center-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-description {
    font-size: 22px;
    color: #666;
    margin-bottom: 20px;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

@media (max-width: 500px) {
    .button-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .button-wrapper button {
        flex: 1 1 50%; /* Make the first two buttons take up half the line each */
        margin: 5px; /* Small margin for spacing */
    }
    .button-wrapper a {
        flex: 0 0 100%; /* Force the 'Leave Feedback' button to take up the full line */
        text-align: center; /* Center the text inside the link */
        margin: 5px;
    }
}


.main-button {
    background-color: #F8CAD3;
    color: #880720;
    border: none;
    padding: 15px 20px; 
    margin: 0 10px;
    font-size: 18px; 
    cursor: pointer;
    transition: background 0.3s ease;
    border-radius: 15px; 
}


.main-button:hover {
    background-color: #efb3bf;
    color: white;
}

.main-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-grow: 1;
}

.main-image {
    max-width: 100%;
    height: auto;
}

@media (max-width:850px) {
    .wrapper {
        flex-direction: column;
    }

    .main-image-container {
        order: -1;
        text-align: center;
        margin-bottom: 0;
    }

    .content,
    main {
        width: 100%;
    }

    .main-title {
        font-size: 28px;
        width: auto;
        margin: auto;
    }

    .main-description {
        font-size: 16px;
        width: auto;
        margin: auto;
    }
}


@media (max-width: 517px) {
    .main-image-container {
        max-width: 75%;
        max-height: 75%;
        margin: auto;
    }    
    
    .logo-img{
        display: none;
    }
    .logo {
        font-size: 22px;
        color: #000;
        margin: auto; 
    }

    .main-button{
        padding: 5px 10px; 
    }

}

.info-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    background-color: #F8CAD3;
    color: #880720;
    border: none;
    padding: 10px 15px; 
    margin: 20px 20px;
    font-size: 18px; 
    cursor: pointer;
    transition: background 0.3s ease;
    border-radius: 15px; 
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    position: fixed; 
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 55% !important;
    height: 35% !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); 
}

@media (min-width: 850px) {
    .modal-content {
        width: 25% !important;
        height: 30% !important;
    }

}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* Contact Form */
/* section.contact-section {
    padding: 70px 0;
} */

@media(max-width: 1200px) {
    section.contact-section {
        padding: 40px 0;
    }
}

@media(max-width: 768px) {
    section.contact-section {
        padding: 20px 0;
    }
    .contact-section .row {
        grid-template-columns: 1fr; 
    }
    .left-grid p, .contact-text {
        font-size: 15px; 
        line-height: 23px;
        padding-bottom: 35px;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

@media (max-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 calc(-1 * var(--bs-gutter-x) / 2);
}

.left-grid, .right-grid {
    width: 50%; 
}

@media(max-width: 768px) {
    .left-grid, .right-grid {
        width: 100%;
    }
    .contact-header, .contact-text {
        padding-left: 10px; 
    }
}

.contact-form form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.contact-form form .form-group {
    width: 50%; 
    padding: 0 15px 20px;
}

.contact-form form .form-group input, 
.contact-form form .form-group textarea {
    width: 100%;
    padding: 10px 15px;
    border-radius: 8px;
    border: 0.5px solid #2A2E37;
}

.contact-form form .form-group textarea {
    resize: none;
    height: 120px;
    margin-bottom: 20px;
}

@media(max-width: 768px) {
    .contact-form form .form-group {
        width: 100%;
        padding: 0 5px 20px;
    }
    .contact-form form {
        justify-content: flex-start; 
    }
}

#successMessage, #fillAllFieldsMessage {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#fillAllFieldsMessage {
    background-color: #f44336; 
}
